@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Instrument+Serif:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

/* Base styles for full height layout */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-Epilogue: "Epilogue", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
  --font-Code: "Source Code Pro", monospace;
  --font-Instrument: "Instrument Serif", serif;

  /* Colors */
  --color-midBlack: #252525;
  --color-darkBlack: #0a0a0a;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgb(37, 37, 37); /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #252525; /* Thumb color */
  border-radius: 0px;
}
